.Header {
    width: 100%;
    height: 70px;
    background-color: #fad9d9;
    display: flex;
    justify-content: flex-end;
}
.Header ul{
    display: flex;
}
.Header li{
    width: 140px;
    height: 100%;
    list-style: none;
    line-height: 70px;
    cursor: pointer;
    font-weight: 500;
}
.Header li:hover{
    background-color: #ffc9c9;
}