.Product{
    width: 250px;
    height: 400px;
    box-shadow: 0px 0px 5px 5px #fad9d9;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
}
.Product img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.Product h1{
    width: 100%;
    height: 50px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 600;
}
.Product p{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    font-size: 1.1pc;
}
.Product button{
    width: 100%;
    height: 50px;
    background-color: #fad9d9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1pc;
}
.Product button:hover{
    background-color: #ffc9c9;
}